<div class="app-container">
  <mat-card class="navigation-card">
    <mat-card-title>Navigation</mat-card-title>
    <mat-card-content>
      <div class="logo-navigation">
        <nav class="navigation-links">
          <button mat-raised-button color="primary" routerLink="/" class="custom-button">
            Home Page
          </button>
          <button mat-raised-button color="primary" routerLink="/add-city" class="custom-button">
            Add New City
          </button>
        </nav>
        <div class="logo-container">
          <img src="weather-painting.png" alt="MeteoApp Logo" class="meteoapp-logo">
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <router-outlet></router-outlet>
</div>
